aiohttp==3.9.1
aiosignal==1.3.1
anyio==4.1.0
appdirs==1.4.4
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
bentoml @ git+https://github.com/bentoml/bentoml@5526c93535d486f45be6bbb683bf453834bb085c
build==1.0.3
cattrs==23.1.2
certifi==2023.11.17
charset-normalizer==3.3.2
circus==0.18.0
click==8.1.7
click-option-group==0.5.6
cloudpickle==3.0.0
contextlib2==21.6.0
deepmerge==1.1.0
Deprecated==1.2.14
exceptiongroup==1.2.0
frozenlist==1.4.0
fs==2.4.16
h11==0.14.0
httpcore==1.0.2
httpx==0.25.2
idna==3.6
importlib-metadata==6.11.0
inflection==0.5.1
Jinja2==3.1.2
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mdurl==0.1.2
multidict==6.0.4
numpy==1.26.2
nvidia-ml-py==11.525.150
opentelemetry-api==1.20.0
opentelemetry-instrumentation==0.41b0
opentelemetry-instrumentation-aiohttp-client==0.41b0
opentelemetry-instrumentation-asgi==0.41b0
opentelemetry-sdk==1.20.0
opentelemetry-semantic-conventions==0.41b0
opentelemetry-util-http==0.41b0
packaging==23.2
pathspec==0.12.1
pip-requirements-parser==32.0.1
pip-tools==7.3.0
prometheus-client==0.19.0
psutil==5.9.6
Pygments==2.17.2
pyparsing==3.1.1
pyproject_hooks==1.0.0
python-dateutil==2.8.2
python-json-logger==2.0.7
python-multipart==0.0.6
PyYAML==6.0.1
pyzmq==25.1.2
requests==2.31.0
rich==13.7.0
schema==0.7.5
simple-di==0.1.5
six==1.16.0
sniffio==1.3.0
starlette==0.33.0
tomli==2.0.1
tornado==6.4
typing_extensions==4.9.0
urllib3==2.1.0
uvicorn==0.24.0.post1
watchfiles==0.21.0
wrapt==1.16.0
yarl==1.9.4
zipp==3.17.0
